

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

</head>
{% extends 'base.html'%}
{% block content%}
<body>
    {% if user.is_authenticated %}
         <div class="hero">
                <div class="text-center">
                 <h1>Welcome to SafeBite</h1>
                 <p class="lead">Your sheild for every meal</p>
                    <a href='userprofile' class="btn btn-primary btn-custom">User Profile</a>
                     <a href='fooddir' class="btn btn-success btn-custom">Search</a>
        </div>
    </div>

    {%else%}
    <div class="hero">
        <div class="text-center">
            <h1>Welcome to SafeBite</h1>
            <p class="lead">Your sheild for every meal</p>
            <a href='accounts/login' class="btn btn-primary btn-custom">Login</a>
            <a href='accounts/register' class="btn btn-success btn-custom">Register</a>
        </div>
    </div>
    {%endif%}

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</body>
{% endblock %}
</html>

